<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
    <title>申请与审批系统</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="app">
        <div id="header">
            <div id="logo-box" @click="toPage('./mainFrame.html')">
                <img id="logo" src="./img/logo.png">申请与审批系统
            </div>
            <div id="logout" @click="logout()">登出</div>
        </div>
    
        <div id="content">
            <div id="menu">
                <h3 v-if="role == 0" @click="toPage('./apply.html')">申请管理</h3>
                <h3 v-if="role == 1" @click="toPage('./approve.html')">审批管理</h3>
                <h3 v-if="role == 0 || role == 1" @click="toPage('./profile.html')">个人信息修改</h3>
                <h3 v-if="role == 2" @click="toPage('./form.html')">表单管理</h3>
                <h3 v-if="role == 2" @click="toPage('./user.html')">用户管理</h3>
            </div>
            <iframe id="info" src="./mainFrame.html"></iframe>
        </div>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>