table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px gainsboro;
    background-color: white;
    border:2px solid #eee;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    table-layout:fixed;
}

table th,table td{
    padding:0 5px;
    margin:0;
    height: 40px;
    width: 50px;
    box-sizing: border-box;
    text-align: center;
}

table td{
    overflow:hidden;
    text-overflow:ellipsis; 
    white-space:nowrap; 
}

table img{
    height: 40px;
    width: 40px;
}

.btn{
    width: 80px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(27, 178, 238);
    color: white;
    margin: 0 2px 0 2px;
}

.btn.thin{
    width: 45px !important;
}

#page-btns{
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.page-btn,.prev-next{
    height: 30px;
    width: 30px;
    margin: 0 2px 0 2px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(27, 178, 238);
    color: white;
    font-size: 13px;
    line-height: 13px;
}

.prev-next{
    width: 60px;
}

button{
    user-select: none;
}

button:not(:disabled){
    cursor: pointer;
}

button:not(:disabled):hover{
    background-color: rgb(134, 199, 230) !important;
}

button:not(:disabled):active{
    background-color: rgb(202, 223, 233) !important;
}

button:disabled{
    background-color: rgb(185, 212, 224) !important;
}

select{
    height: 28px;
    margin-left:10px;
    border-radius: 14px;
    outline-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.orange{
    color:orange;
}

.red{
    color:red;
}

.green{
    color:green;
}

.popup-form{
    height: 500px;
    width: 800px;
    position: fixed;
    top:calc(50vh - 250px);
    left: calc(50vw - 400px);
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(199, 199, 199);
    overflow-y: auto;
}

.popup-form>div{
    width: 600px;
    margin:10px auto 10px auto;
    text-align: center;
}

.popup-form>div:nth-of-type(1){
    margin-top:50px;
}

.popup-form>div:nth-last-of-type(1){
    margin-top:30px;
}

.popup-form label{
    display: inline-block;
    height: 30px;
    width: 100px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    margin-top:0;
    vertical-align: top;
}

.popup-form span{
    display: inline-block;
    width: 500px;
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    word-wrap:break-word; 
    word-break:break-all; 
    overflow: hidden;
}

.popup-form input,.popup-form textarea{
    display: inline-block;
    width: 450px;
    line-height: 30px;
    font-size: 18px;
    padding: 0 5px 0 5px;
    text-align: left;
    word-wrap:break-word; 
    word-break:break-all; 
    resize:vertical;
    overflow: hidden;
}